* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: $colorNameSection;
}
a:hover {
  color: $colorNameSectionHover;
}
h5 {
  color: wheat;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
body {
  font-family: $fontfamily;
}
html {
  border-left: yellow;
  border-right: yellow;
  background: $background;
}
