$background: url(https://data.1freewallpapers.com/detail/concert-performance-smoke-light-crowd-music.jpg);
$fontfamily: "Ubuntu", sans-serif;
$colorNameSection: white;
$colorNameSectionHover: yellow;
$ColorHeader: black;
$backgroundWiki: linear-gradient(360deg, rgb(89, 95, 20), black);
$hoverAnimationLogo: rotate(-540deg);
$transitionAnimationLogo: all 1s ease;
$hoverAnimationCuadros: scale(1.1, 1.1);
$transitionAnimationCuadros: all 0.5s ease;
$hoverAnimationVinilo: rotate(2880deg);
$transitionAnimationVinilo: all 6s ease;
